* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    height: 90px;
}

.container {
    width: 90%;
    display: flex;
    justify-content: center;
    max-width: 1200px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu nav ul,
.menu nav li {
    list-style-type: none;
    padding: 0px;
}

.menu nav ul {
    display: flex;
}

.menu nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    font-family: Helvetica;
    font-size: 14px;
    transition: color 0.4s ease;
}

.menu nav .active a,
.menu nav a:hover {
    color: #f7aab4;
}

.banner_0 {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_2 {
    background-color: #e00e31;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_2 nav ul,
.menu_2 nav li {
    list-style-type: none;
    padding: 0px;
}

.menu_2 nav ul {
    height: 95px;
    display: flex;
    gap: 60px;
    align-items: center;
}

.menu_2 nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    font-family: Impact;
    font-size: 20px;
    transition: color 0.4s ease;
}

.vertical_line {
    width: 0.1px;
    background-color: #fff;
    height: 60%;
    margin: 0 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.section_3 {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_1 {
    display: flex;
    justify-content: center;
    background-image: url("../Assets/mouse_banner_2.avif");
    background-position: center;
    background-size: cover;
    height: 650px;
}

.banner_headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 15%;
    margin-left: 18%;
}

.banner_headline h1 {
    color: #e00e31;
    font-size: 50px;
    font-family: Arial;
    margin: 0px;
    padding: 0px;
}

.banner_headline p {
    font-family: Helvetica, sans-serif;
    color: #ffffffff;
    font-size: 17px;
    margin: 0px;
    padding: 0px;
    max-width: 400px;
}
.banner_headline span {
    font-weight: bold;
}

.section_4 {
    background-color: #060606;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.banner_2 img {
    height: 550px;
}

.banner_headline_2 {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-left: 2%;
}

.banner_headline_2 h1 {
    color: #e00e31;
    font-size: 47px;
    font-family: Arial;
    text-align: left;
    margin: 0px;
    padding: 0px;
    max-width: 560px;
}

.banner_headline_2 p {
    font-family: Helvetica, sans-serif;
    color: #ffffffff;
    font-size: 17px;
    margin: 0px;
    padding: 0px;
    max-width: 520px;
    text-align: right;
}

.banner_2 span {
    font-weight: bold;
}

.section_5 {
    background-color: #e70027;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_banner3 {
    transform: rotate(-90deg);
}

.banner_headline_3 {
    display: flex;
    flex-direction: column;
    margin-right: 7%;
}

.banner_headline_3 h1 {
    color: #fff;
    font-size: 47px;
    font-family: Arial;
    margin: 0px;
    padding: 0px;
    max-width: 560px;
}

.banner_headline_3 p {
    font-family: Helvetica, sans-serif;
    color: #ffffffff;
    font-size: 17px;
    margin: 0px;
    padding: 0px;
    margin-left: auto;
    max-width: 520px;
}

.banner_headline_3 span {
    font-weight: bold;
}

.section_6 {
    background-color: #060606;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_4 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner_headline_4 {
    display: flex;
    flex-direction: column;
    text-align: right;
    max-width: 520px;
    margin-left: 2%;
}

.banner_headline_4 h1 {
    color: #e00e31;
    font-size: 47px;
    font-family: Arial;
    text-align: right;
    margin: 0px;
    padding: 0px;
    max-width: 560px;
}

.banner_headline_4 p {
    font-family: Helvetica, sans-serif;
    color: #ffffffff;
    font-size: 17px;
    margin: 0px;
    padding: 0px;
    max-width: 400px;
    text-align: right;
}

.banner_headline_4 span {
    font-weight: bold;
}

.section_7 {
    background-color: #e70027;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_5 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner_headline_5 {
    display: flex;
    flex-direction: column;
}

.banner_headline_5 h1 {
    color: #fff;
    font-size: 47px;
    font-family: Arial;
    margin: 0px;
    padding: 0px;
    max-width: 560px;
}

.banner_headline_5 p {
    font-family: Helvetica, sans-serif;
    color: #ffffffff;
    font-size: 17px;
    margin: 0px;
    padding: 0px;
    margin-left: auto;
    max-width: 520px;
}

.banner_5 span {
    font-weight: bold;
}

.section_8 {
    background-color: #060606;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_6 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner_headline_6 {
    display: flex;
    flex-direction: column;
    text-align: right;
    max-width: 520px;
    margin-left: 2%;
}

.banner_headline_6 h1 {
    color: #e00e31;
    font-size: 47px;
    font-family: Arial;
    text-align: right;
    margin: 0px;
    padding: 0px;
    max-width: 560px;
}

.banner_headline_6 p {
    font-family: Helvetica, sans-serif;
    color: #ffffffff;
    font-size: 17px;
    margin: 0px;
    padding: 0px;
    max-width: 400px;
    text-align: right;
}

.banner_headline_6 span {
    font-weight: bold;
}

.section_9 {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.desc9 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner_headline_7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px;
}

.banner_headline_7 h1 {
    color: #000;
    font-size: 40px;
    font-family: Arial;
    text-align: right;
    margin: 0px;
    padding: 0px;
    margin-bottom: 20px;
    max-width: 560px;
}

.banner_headline_7 p {
    color: #000;
    font-size: 15px;
    font-family: Helvetica;
    text-align: center;
    margin: 0px;
    margin-bottom: 20px;
    padding: 0px;
    max-width: 560px;
}

.section_10 {
    background-color: #e00e31;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_area {
    margin: 50px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    gap: 100px;
}

.footer_part1 {
    gap: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.footer_part2 {
    gap: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: right;
}

.footer_area span {
    font-weight: bold;
}
