body {
  margin: 0;
  background-color: darkcyan;
  background-color: #008b8b;
  background-color: rgb(0, 139, 139);
  color: red;
}

h1 {
  border: 2px solid currentColor; /* herda a cor que já está sendo usada */
}
