* {
    font-family: arial;
}

body {
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    justify-content: center;
    height: 120px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}

.logo {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

nav ul,
nav li {
    list-style-type: none;
    padding: 0px;
}

nav ul {
    display: flex;
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
    font-family: Arial;
}

nav .active a,
nav a:hover {
    background-color: #39aae1;
    color: #ffffffff;
}

#banner {
    display: flex;
    justify-content: center;
    background-image: url("../images/img1.jpg");
    background-position: center;
    background-size: cover;
    height: 670px;
}

.column {
    flex-direction: column;
}

.banner_headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner_headline h1 {
    color: #ffffffff;
    font-size: 70px;
    text-shadow: 0px 1px 0px #555555;
    margin: 0px;
    padding: 0px;
    width: 350px;
}

.banner_headline h2 {
    color: #ffffffff;
    font-size: 21px;
    text-shadow: 0px 1px 0px #555555;
    margin: 0px;
    padding: 0px;
    max-width: 350px;
    margin-top: 30px;
}

.banner_options {
    height: 210px;
    display: flex;
}

.banner1,
.banner2,
.banner3 {
    flex: 1;
    color: #fff;
    padding: 20px;
}

.banner1 {
    background-color: #39aae1;
}

.banner2 {
    background-color: #0079c7;
}
.banner3 {
    background-color: #2b4c99;
}

.banner_title {
    font-size: 21px;
}

.banner_desc {
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner_options a {
    display: inline-block;
    border: 1px solid #fff;
    padding: 5px;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
}

.banner_container_1,
.banner_container_2,
.banner_container_3 {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}

#geral {
    display: flex;
    justify-content: center;
}

#geral section {
    flex: 2;
}

#geral aside {
    flex: 1;
}

.widget_title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.widget_title_text {
    color: black;
    font-size: 21px;
    font-weight: bold;
}

.widget_title_bar {
    width: 50px;
    height: 3px;
    background-color: #36a9e1;
    margin-top: 10px;
}

.widget_body_departments {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.square {
    width: 150px;
    height: 150px;
    background-color: #42b3e5;
}

.widget_body_appointment p {
    font-size: 14px;
    color: #909090;
    line-height: 20px;
    border-bottom: 1px solid #a7acb8;
    padding-top: 6px;
    padding-bottom: 25px;
}

.phone,
.email,
.contact_page {
    border-bottom: 1px solid #a7acb8;
    padding-bottom: 20px;
    margin-top: 20px;
    color: #888888;
}

.contacts a {
    text-decoration: none;
}

.contacts b {
    color: black;
}

.contacts i {
    margin-right: 5px;
}

article {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}

article a {
    text-decoration: none;
}

article .news_data {
    display: flex;
}

article .news_posted_at {
    background-color: #2b4c99;
    color: #fff;
    font-size: 12px;
    padding: 10px;
    margin-right: 2px;
}

article .news_comments {
    background-color: #59aae1;
    padding: 10px;
    font-size: 12px;
    padding: 10px;
}

article .news_thumbnail {
    margin-top: 30px;
}

article .news_thumbnail img {
    width: 100%;
    height: auto;
}

article .news_title {
    margin-top: 25px;
    margin-bottom: 25px;
    color: black;
    font-size: 23px;
}

article .news_resume {
    color: #5c5c5c;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
}

.widget_body_news {
    display: flex;
    flex-wrap: wrap;
}

footer {
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
}

.footer_menu {
    display: flex;
    flex: 1;
}

.fm_1,
.fm_2,
.fm_3 {
    flex: 1;
    color: #fff;
    padding: 20px;
}

.fm_1 {
    background-color: #39aae1;
}

.fm_2 {
    background-color: #0079c7;
}
.fm_3 {
    background-color: #2b4c99;
}

.footer_area {
    display: flex;
}

.flexColumn {
    flex-direction: column;
}

.footer_areaitem {
    flex: 1;
    color: #ffffff;
}

footer .widget_title_text {
    color: #ffffff;
}

.footer_copy {
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 12px;
    margin-top: 30px;
}

.widget_body_description {
    color: #8a8a8a;
    font-size: 13px;
    line-height: 20px;
}

.widget_body_box {
    display: flex;
    flex: 1;
    color: #8a8a8a;
    font-size: 13px;
}

.widget_body_address {
    flex: 1;
    line-height: 5px;
}

.widget_body_contact {
    flex: 1;
    line-height: 5px;
    margin-top: 18px;
}

.widget_body_thumbnail {
    display: flex;
    width: 35px;
    height: 35px;
}

.widget_body_thumbnail img {
    margin-top: 10px;
    margin-right: 5px;
}

.widget_body_latest_posts,
.widget_body_latest_tweets {
    font-size: 13px;
    margin-right: 15px;
    line-height: 15px;
}

.widget_body_latest_posts a {
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    color: #fafafa;
    margin-top: 5px;
}

.widget_body_latest_posts p {
    margin-right: 5px;
    margin-top: 0px;
    line-height: 20px;
}

.widget_body_latest_posts span {
    color: #0079c7;
    margin-top: 3px;
}

.widget_body_latest_tweets {
    font-size: 13px;
}

.widget_body_latest_tweets span {
    color: #0079c7;
}

.widget_body_latest_tweets a {
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    color: #8a8a8a;
    margin-top: 5px;
}

.widget_body_latest_tweets p {
    margin-right: 5px;
    margin-top: 0px;
    line-height: 20px;
}

.widget_body_latest_tweets span {
    color: #0079c7;
}

.menuMobile {
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
}

.mn_line {
    height: 2px;
    background-color: #39aae1;
}

@media (max-width: 600px) {
    header {
        height: auto;
    }

    .logo {
        padding: 20px;
    }

    nav ul {
        flex-direction: column;
        display: none;
    }

    .menuMobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .banner_headline {
        padding: 25px;
    }

    .banner_headline h1 {
        font-size: 55px;
    }

    .banner_headline h2 {
        font-size: 17px;
    }

    .banner_options {
        height: auto;
        flex-direction: column;
    }

    .container {
        flex-direction: column;
    }

    #geral section {
        padding: 80px 20px 20px 20px;
    }
    #geral aside {
        padding: 20px;
    }

    .banner3 {
        margin-bottom: 200px;
    }

    .footer_menu {
        flex-direction: column;
    }

    .footer_area {
        flex-direction: column;
        padding: 20px;
    }

    .footer_copy {
        padding-left: 20px;
    }
}

header .container {
    flex-direction: row;
}
