body {
  margin: 0;
}

.container {
  width: calc(100% - 20px);
  height: 200px;
  background-color: #ccc;
}

/* utilizamos uma funçao calc nesse caso,pra deixar um espaço de 20 px do lado direito, */
